# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Allure
allure-results/
allure-report/
.allure/

# IDE
.idea/
*.iml
.vscode/
out/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
